/* 10 - Footer
===========================================*/

.footer-primary {
  background-color: #161616;
}

.footer-secondary {
  background-color: #131313; /*#161616*/
}

.btn-link {
  color: #6d757d;
}

.s-icons {
  color: #6d757d;
  margin-right: 10px;
}
