/*   - Footer - */
.footer-primary {
  background-color: $background-color;
}

.footer-secondary {
  background-color: #0e0e0e; /*#161616*/
}

.footer-guest {
  background-color: rgba(0, 0, 0, 0.75);
}

.btn-link {
  color: #6d757d;
}

.btn-link:hover {
  color: #6d757d;
}
