.navbar {
  height: 4rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: #898e94;
}
a.text-white-50.nav-link:hover {
  color: crimson;
}

.avator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
