a {
  color: #101010;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: background-color 0.15s linear, color 0.15s linear;
  -moz-transition: background-color 0.15s linear, color 0.15s linear;
  -o-transition: background-color 0.15s linear, color 0.15s linear;
  -ms-transition: background-color 0.15s linear, color 0.15s linear;
  transition: background-color 0.15s linear, color 0.15s linear;
  cursor: pointer;
}
a:hover {
  color: #000;
}
p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
  color: #00a592;
}
h6 {
  font-size: 1rem;
}
img {
  width: 100%;
  height: auto;
}
.italic {
  font-style: italic;
}
.tagline {
  color: #00a592;
}

ul,
ol,
p,
table,
form,
pre {
  margin: 0 0 12px;
}
