/* 04 - Horizontal Rules - Divider
===========================================*/
/* .weather hr {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #002529;
  border-bottom-color: #1893a2;
} */
/* .App-header hr {
  padding-bottom: 10px;
  border: none;
  background: linear-gradient(to right, #1c1c3e, #1e1b3f);
} */

.container hr {
  border-top: 1px solid #cbcbd0;
  border-bottom: 1px solid #ffffff !important;
}

.block hr {
  margin: 30px 0px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #ffffff !important;
}
.block .card hr {
  margin: 3px;
}
