.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
        background-color: $font-color-alt;
        width: 15px;
        border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb {
        background: $font-color;
        border-radius: 10px;
    }
}
.modal-backdrop {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: hidden;
}
.modal-box {
    position: relative;
    // height: 100%;
    margin: 0 auto;
    margin-top: 5%;
    width: 70%;
    // min-width: 500px;
    z-index: 200;
    border-radius: 10px;
    overflow: hidden;
    // overflow-y: scroll;
    background-color: $background-color;
}
