/* 03 - Item Search
===========================================*/

// variables
$search-box-transition-length: 0.6s;
$search-box-size-inactive: 40px;
$search-box-primary-color: #fff;

// short varables
$sbtl: $search-box-transition-length;

// Module core
.search {
  &-container {
    padding: 20px;
  }

  &-box {
    background: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: $search-box-primary-color;
    cursor: pointer;
    height: 40px;
    transition: width $sbtl, border-radius $sbtl, background $sbtl,
      box-shadow $sbtl;
    width: 40px;

    // using the sibling selector
    & + label {
      max-width: 0;
    }
    & + label .search-icon {
      color: $search-box-primary-color;
      transition: all $sbtl;
    }

    &:hover {
      background: rgb(211, 4, 4);
      box-shadow: 0 0 0 5px transparentize($search-box-primary-color, 0.9);

      & + label .search-icon {
        color: white;
      }
    }

    &:focus {
      border: none;
      border-radius: auto;
      background: rgb(235, 235, 235);
      box-shadow: none;
      color: black;
      cursor: text;
      outline: none;
      padding-left: 15px;
      transition: width $sbtl cubic-bezier(0, 1.22, 0.66, 1.39),
        border-radius $sbtl, background $sbtl;
      width: 300px;

      & + label .search-icon {
        color: $search-box-primary-color;
      }
    }

    &:not(:focus) {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &-icon {
    cursor: pointer;
    left: -31px;
    position: relative;
    top: 2px;
  }

  &-btn {
    display: none;
    position: relative;
  }
}
