// V A R I A B L E S //

// Main Colors //
$primary-color: #1768bc;
$secondary-color: #7952b3;

// Link Colors  //
$link-color: #00b8f9;
$hover-color: #9808df;

// Background Colors //
$background-color: #dee4e7;
$dark-color: #171a25;
$semi-dark-color: #2e3140;
$light-color: #f1f1f1;

// Button Colors //
$button-bg-color: #7952b3;
$button-hover-color: #fff;
$button-border-color: #543a7b;

// Media Queries - Breakpoints //

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;
